/* All Screens */

.exitButton {
    position: absolute;
    top: 1.5%;
    right: 1.5%;
    cursor: url('../imgs/icons/pointer.png'), auto;
}

.infoButton {
    position: absolute;
    top: 1.5%;
    right: 7%;
    cursor: url('../imgs/icons/pointer.png'), auto;
}

.finButton {
    position: absolute;
    top: 1.5%;
    left: 1.5%;
    cursor: url('../imgs/icons/pointer.png'), auto;
}

.engButton {
    position: absolute;
    top: 1.5%;
    left: 7%;
    cursor: url('../imgs/icons/pointer.png'), auto;
}

.infoButton:hover {
    content: url('../imgs/icons/infoButtonHover.png')
}

.exitButton:hover {
    content: url('../imgs/icons/exitButtonHover.png')
}

.engButton:hover {
    content: url('../imgs/icons/engButtonHover.png')
}

.finButton:hover {
    content: url('../imgs/icons/finButtonHover.png')
}